<pluginpack name="ASPIDE SPARC Handler" version="0.6" author="EVGENII BALAI" sdk_version="0.13">
 	<plugin name="SPARC" type="input,rewrite" class="it.unical.mat.aspide.plugins.Sparc.SparcPlugin">
    	<filetype extension="sp"/>    	
    	<filetype extension="sparc"/>    	
  	</plugin>
</pluginpack>
