<pluginpack name="ASPIDE SPARC Handler" version="0.7" author="Evgenii Balai, Kristian Reale" sdk_version="0.13,0.14">
 	<plugin name="SPARC" type="input,rewrite" class="it.unical.mat.aspide.plugins.Sparc.SparcPlugin">
    	<filetype extension="sp"/>    	
    	<filetype extension="sparc"/>    	
  	</plugin>
</pluginpack>
